<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>밀키트 추천 SET</title>
</head>
<body>
	<h1>밀키트 추천이요</h1>	<!--  -->
	<ul th:each="set,index : ${setList}">	<!-- 타임리프의 foreach 문이랑 같다. -->
		<li>
			<ul>
				<li><a href="/mealkit/chooseSet" 		
				th:href="@{/mealkit/chooseSet(category=${index.index+1})}" th:text="${set.name}">카테고리별세트명</a></li>
										<!-- ${index.index+1} = 반복문으로 1~5해줄 때의 파라미터 번호  -->
				<li th:text="${set.content}">내용</li>
			</ul>
		</li>
	</ul>
	
	
	
</body>
</html>