<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>
</head>
<body>



<!-- 카카오 스크립트 -->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
Kakao.init('e579019570113b02bbb34d1f9519df83'); //발급받은 키 중 javascript키를 사용해준다.
console.log(Kakao.isInitialized()); // sdk초기화여부판단
//카카오로그인
function kakaoLogin() {
    Kakao.Auth.login({
    	scope:'profile_nickname, account_email, gender, age_range',
      success: function (response) {
    	  console.log(response)
        Kakao.API.request({
          url: '/v2/user/me',
          success: res =>{
				
				
				var userID = res.id;      //유저의 카카오톡 고유 id
			       var email = res.kakao_account.email;   //유저의 이메일
			       var nickname = res.properties.nickname; //유저가 등록한 별명
			       var name = res.properties.nickname; //유저가 등록한 별명
			       var gender = res.kakao_account.gender; //유저가 등록한 
			       
			       console.log(userID);
			       console.log(email);
			       console.log(nickname);
			       console.log(gender);
			       $.ajax({
			    		url : '/klogin',
			    		type : 'post',
			    		data : {
			    			name : name,
			    			email : email,
			    			gender : gender
			    		},
			    		success : function(data) {
			    			 location.href="../home";
			    	     },
			    		error : function() {
			    			alert("error");
			    		}
			    	});
	
				
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
  }
//카카오로그아웃  
function kakaoLogout() {
    if (Kakao.Auth.getAccessToken()) {
      Kakao.API.request({
        url: '/v1/user/unlink',
        success: function (response) {
        	console.log(response)
        },
        fail: function (error) {
          console.log(error)
        },
      })
      Kakao.Auth.setAccessToken(undefined)
    }
  }  
</script>


<div align="center">
	<h1>로그인</h1>
	<form method="post" th:action="@{login}">
	<table>
		<tr>
			<td>아이디</td>
			<td><input type="text" name="email"/> <input type="submit" th:value="로그인"></td>
		</tr>
		<tr>
			<td>비밀번호</td>
			<td><input type="password" name="password"/></td>
		</tr>
		
		<tr>
			<td colspan="2" align="center">
				
			
				<input type="button" th:value="아이디찾기" th:onclick="location.href='findId'"/>
				<input type="button" th:value="비밀번호변경" th:onclick="location.href='password'"/>
				<input type="button" th:value="회원가입" th:onclick="location.href='user/join?start=1'"/>
				<input type="button" th:value="처음으로" th:onclick="location.href='/'"/>
			</td>
		</tr>
		
		
		<tr>
		
	<td onclick="kakaoLogin();">
      <a href="javascript:void(0)">
         <img src="resources/img/login_btn_ka.png"/>
      </a>
	</td>
	<td onclick="kakaoLogout();">
      <a href="javascript:void(0)">
          <span>카카오 로그아웃</span>
      </a>
	</td>

		
		</tr>
		
	</table>
	</form>

</div>
	

</body>
</html>