<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>비밀번호 변경</title>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript">


  function checkId(){
      var id = $('#id').val();
  $.ajax({
      url:'/user/idCheck',
      type:'post',
      data:{id:id},
      success:function(cnt){ //컨트롤러에서 넘어온 cnt값을 받는다 
          if(cnt != 1){ //cnt가 1이 아니면(=0일 경우) -> 사용 가능한 아이디 
              $('.id_ok').css("display","inline-block"); 
              $('.id_ok').css("color","blue"); 
              $('.id_already').css("display", "none");
          } else { // cnt가 1일 경우 -> 이미 존재하는 아이디
              $('.id_already').css("display","inline-block");
              $('.id_already').css("color","red");
              $('.id_ok').css("display", "none");
          }
      },
      error:function(){
          alert("에러입니다");
      }
  });
  };


$(function(){ 
$("#alert-success").hide(); 
$("#alert-danger").hide();
$("input").keyup(function(){ 
	var pwd1=$("#password").val(); 
	var pwd2=$("#password2").val(); 
	if(pwd1 != "" || pwd2 != ""){ 
		if(pwd1 == pwd2){ 
		$("#alert-success").show(); 
		$("#alert-danger").hide();
		$("#submit").removeAttr("disabled"); 
		}else{ 
		$("#alert-success").hide(); 
		$("#alert-danger").show(); 
		$("#submit").attr("disabled", "disabled"); 
		} } }); });

 $(function(){
	 $("#password_ck2").hide();
	$("input").keyup(function(){
		
		var password_ck =$("#password").val();
		var email_ck =$("#id").val();
		
		if(password_ck !=""){
			$("#password_ck").hide();
			if(password_ck.length <=6 )
				$("#password_ck2").show();
			else{
				$("#password_ck2").hide();
			}
		}else {
			$("#password_ck").show();
			$("#password_ck2").hide();
		}
		
		if(email_ck !=""){
			$("#email_ck").hide();
		}else {
			$("#email_ck").show();
			$(".id_ok").hide();
		}
	}); 
});
 $(function(){
		sendMail();
		
	});
function sendMail(){
	var isCertification = false;
	var key1 = "";
 $('#sendMail').on('click',function() {// 메일 입력 유효성 검사
		var email = $(".email").val(); //사용자의 이메일 입력값. 
	 console.log(email);
		
		if (email == "") {
			alert("메일 주소가 입력되지 않았습니다.");
		} else {
			
			$.ajax({
				type : 'post',
				url : '/user/CheckMail',
				data : {
					email:email
					},
					success : function(key) {
						console.log(key);
						key1 = key;
						console.log(key1);
					}
				});
			console.log(key1);
				alert("이메일을 확인하시기 바랍니다.");
				$(".compare").css("display", "block");
				$(".compare-text").css("display", "block");
		}
	});	
 $(".compare").on("propertychange change keyup paste input", function() {
	 console.log(key1);
		if ($(".compare").val() == key1) {   //인증 키 값을 비교를 위해 텍스트인풋과 벨류를 비교
			$(".compare-text").text("인증 성공!").css("color", "black");
			$("#password_change").show();
			$("#password_change2").show();
			isCertification = true;  //인증 성공여부 check
		} else {
			$(".compare-text").text("불일치!").css("color", "red");
			isCertification = false; //인증 실패
		}
	});
 }

 
</script>
</head>
<body>

<form method="post" th:action="@{password}">
<table>
<tr>
			<td><label>이메일</label></td>
          	<td><input type="text" name="email" class="email" id="id"   placeholder="email을 입력하세요" oninput = "checkId()"/>
          	<input type="button" id="sendMail" th:value="인증" />
        	<div class="id_ok" style=" display:none;">가입된 이메일이 아닙니다.</div>
			<div class="id_already" style=" display: none;">인증을 진행해주세요.</div>
			<div id="email_ck" style="color:red" >이메일을 입력하세요.</div>
			</td>
		</tr>
		<tr>
		<td></td>
			<td><input type="text" placeholder="인증 키 입력" style="display: none;"
					class="compare"><span class="compare-text"
					style="display: none">불일치</span>
			</td>
		</tr >
			<tr id="password_change" style=" display:none;">
			<td ><label>새로운 패스워드</label></td>
			<td ><input type="password" id="password" name="password" placeholder="password을 입력하세요">
			<div id="password_ck" style="color:red" >비밀번호를 입력하세요.</div>
			<div id="password_ck2" style="color:red" >비밀번호를 6자 이상 입력하세요.</div>
			</td>
			
		</tr>
		<tr id="password_change2" style=" display:none;">
			<td><label>새로운 패스워드 확인</label></td>
			<td><input type="password" id="password2" name="password2" placeholder="password을 입력하세요">
			<div class="alert alert-success" id="alert-success" style="color:green" >비밀번호가 일치합니다.</div> 
			<div class="alert alert-danger" id="alert-danger" style="color:red" >비밀번호가 일치하지 않습니다.</div>
			</td>
		</tr>
		<tr>
		 <td>
		 <input type=submit value="비밀번호 변경">
		 </td>
		</tr>
</table>
</form>


</body>
</html>